# APP
APP_PORT=3000

# DATABASE
DATABASE_URL=postgresql://solutech:solutech@localhost:5432/solutech?schema=public

# AUTH
# generate secret using: openssl rand -base64 48
JWT_SECRET='secret'
JWT_EXPIRES_IN='1h'
BCRYPT_SALT_ROUNDS=10

# SESSION (iron-session for FE)
# generate secret using: openssl rand -base64 24
SESSION_SECRET='secret'
